In [5]:
# 6) Use Pandas to merge two datasets together based on a common key
# (try this function - merge(table1, table2, on='Column1', how='inner').

import pandas as pd
data1 = pd.read_excel(r'C:\Users\pauli\Desktop\PhytonCourse\Tasks 04.06 jupyter\Females.xlsx')
data1

                                        GEO (Labels)   Gender  2020_females
0                                            Belgium  Females          64.0
1                                           Bulgaria  Females          67.8
2                                            Czechia  Females          62.5
3                                            Denmark  Females          57.7
4   Germany (until 1990 former territory of the FRG)  Females          66.8
5                                            Estonia  Females          59.6
6                                            Ireland  Females          67.1
7                                             Greece  Females          66.8
8                                              Spain  Females          66.3
9                                             France  Females          65.3
10                                           Croatia  Females          59.6
11                                             Italy  Females          68.7
12                                            Cyprus  Females          63.1
13                                            Latvia  Females          54.3
14                                         Lithuania  Females          58.7
15                                        Luxembourg  Females          62.4
16                                           Hungary  Females          63.5
17                                             Malta  Females          70.7
18                                       Netherlands  Females          59.6
19                                           Austria  Females          59.3
20                                            Poland  Females          64.3
21                                          Portugal  Females          58.7
22                                           Romania  Females          60.5
23                                          Slovenia  Females          66.3
24                                          Slovakia  Females          57.1
25                                           Finland  Females          55.9
26                                            Sweden  Females          72.7
27                                           Iceland  Females          59.0
28                                            Norway  Females          66.7
29                                       Switzerland  Females          60.7
30                                    United Kingdom  Females          60.8

In [6]:
data2 = pd.read_excel(r'C:\Users\pauli\Desktop\PhytonCourse\Tasks 04.06 jupyter\Males.xlsx')
data2

                                        GEO (Labels) Gender1  2020_males
0                                            Belgium   Males        63.6
1                                           Bulgaria   Males        63.6
2                                            Czechia   Males        60.9
3                                            Denmark   Males        58.1
4   Germany (until 1990 former territory of the FRG)   Males        64.7
5                                            Estonia   Males        55.5
6                                            Ireland   Males        65.3
7                                             Greece   Males        65.0
8                                              Spain   Males        66.3
9                                             France   Males        63.9
10                                           Croatia   Males        57.5
11                                             Italy   Males        67.2
12                                            Cyprus   Males        62.5
13                                            Latvia   Males        52.6
14                                         Lithuania   Males        55.1
15                                        Luxembourg   Males        64.0
16                                           Hungary   Males        61.6
17                                             Malta   Males        70.2
18                                       Netherlands   Males        62.4
19                                           Austria   Males        58.2
20                                            Poland   Males        60.3
21                                          Portugal   Males        60.8
22                                           Romania   Males        59.3
23                                          Slovenia   Males        63.9
24                                          Slovakia   Males        56.3
25                                           Finland   Males        57.7
26                                            Sweden   Males        72.8
27                                           Iceland   Males        65.7
28                                            Norway   Males        70.5
29                                       Switzerland   Males        62.2
30                                    United Kingdom   Males        61.5

In [12]:
merged_data = data1.merge(data2, on='GEO (Labels)', how='inner')
merged_data

,GEO (Labels),Gender,2020_females,Gender1,2020_males
0,Belgium,Females,64.0,Males,63.6
1,Bulgaria,Females,67.8,Males,63.6
2,Czechia,Females,62.5,Males,60.9
3,Denmark,Females,57.7,Males,58.1
4,Germany (until 1990 former territory of the FRG),Females,66.8,Males,64.7
5,Estonia,Females,59.6,Males,55.5
6,Ireland,Females,67.1,Males,65.3
7,Greece,Females,66.8,Males,65.0
8,Spain,Females,66.3,Males,66.3
9,France,Females,65.3,Males,63.9
10,Croatia,Females,59.6,Males,57.5
11,Italy,Females,68.7,Males,67.2
12,Cyprus,Females,63.1,Males,62.5
13,Latvia,Females,54.3,Males,52.6
14,Lithuania,Females,58.7,Males,55.1
15,Luxembourg,Females,62.4,Males,64.0
16,Hungary,Females,63.5,Males,61.6
17,Malta,Females,70.7,Males,70.2
18,Netherlands,Females,59.6,Males,62.4
19,Austria,Females,59.3,Males,58.2
20,Poland,Females,64.3,Males,60.3
21,Portugal,Females,58.7,Males,60.8
22,Romania,Females,60.5,Males,59.3
23,Slovenia,Females,66.3,Males,63.9
24,Slovakia,Females,57.1,Males,56.3
25,Finland,Females,55.9,Males,57.7
26,Sweden,Females,72.7,Males,72.8
27,Iceland,Females,59.0,Males,65.7
28,Norway,Females,66.7,Males,70.5
29,Switzerland,Females,60.7,Males,62.2
30,United Kingdom,Females,60.8,Males,61.5