In [1]:
import mysql.connector
import pandas as pd
import pymysql

from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:@localhost/countries")

df = pd.read_excel(r"C:\Users\pauli\Desktop\PhytonCourse\GITintro\My Repository\SQL tasks 04.27\countries.xlsx")

df.to_sql(name="baltic_countries",con=engine,if_exists="append",index=False)

3

In [7]:
import mysql.connector
import pandas as pd
import pymysql

from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:@localhost/countries")

cf = pd.read_excel(r"C:\Users\pauli\Desktop\PhytonCourse\GITintro\My Repository\SQL tasks 04.27\cities.xlsx")
cf.to_sql(name="baltic_cities",con=engine,if_exists="append",index=False)

9

In [3]:
import mysql.connector
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='countries')

cursor = cnx.cursor()

query = "SELECT * FROM `baltic_cities` WHERE Country = 'Lietuva'"
cursor.execute(query)


# Fetching the results
for row in cursor.fetchall():
    print(row)
# Closing the cursor and connection
cursor.close()
cnx.close()

('Vilnius', 'Lietuva', '402 km2', '581 475', '1 450 p./km²', '1323', 'Valdas Benkunskas')
('Kaunas', 'Lietuva', '157 km2', '305 120', '1 943 p./km²', '1361', 'Visvaldas Matijošaitis')
('Klaipėda', 'Lietuva', '98 km2', '158 420', '1 617 p./km²', '1252', 'Arvydas Vaitkus')

In [4]:
import pandas as pd
import pymysql

from sqlalchemy import create_engine
from sqlalchemy import text


engine = create_engine("mysql+pymysql://root:@localhost/countries")
 

with engine.begin() as con:
    query = text("SELECT * FROM `baltic_cities` WHERE Country = 'Lietuva'")
    suppliers_df = pd.read_sql(query,con)

    suppliers_df.to_excel("Cities_LT.xlsx",index=False)