In [7]:
import mysql.connector

# Establishing a connection to the database
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='python course')

# Closing the connection
cnx.close()

In [4]:
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='python course')

# Creating a cursor object
cursor = cnx.cursor()

# Inserting a new row
query = "INSERT INTO suppliers(Supplier_Name, Supplie_Contact, Supplier_email, Supplier_tel_no) VALUES ('Moka','Vale','info@moka.com','+3706330011')"
cursor.execute(query)

# Committing the transaction
cnx.commit()
# Closing the cursor and connection
cursor.close()

cnx.close()

In [6]:
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='python course')

# Creating a cursor object
cursor = cnx.cursor()

# Inserting a new row
query = "SELECT * FROM suppliers"
cursor.execute(query)


# Fetching the results
for row in cursor.fetchall():
    print(row)
# Closing the cursor and connection
cursor.close()
cnx.close()

(1, 'NAME_IT', 'Sera Pinas', 'name_it@.com', '+3706111222')
(2, 'HANA', 'Marius Bara', 'HANA@.com', '+3706555432')
(3, 'MAX', 'Robe Petra', 'MAX@.com', '+3706779934')
(4, 'YOO', 'Julius Naunas', 'YOO@com', '+3706758499')
(5, 'Moka', 'Vale', 'info@moka.com', '+3706330011')

In [14]:
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='python course')

# Creating a cursor object
cursor = cnx.cursor()

name = input("Enter supplier name:\n")
contact = input("Enter supplier contact:\n")
email = input("Enter supplier email:\n")
phone = input("Enter supplier tel_no:\n")

# Inserting a new row
query = "INSERT INTO suppliers (Supplier_Name, Supplie_Contact, Supplier_email, Supplier_tel_no) VALUES (%s, %s, %s, %s)"
data = (name,contact,email,phone)
cursor.execute(query,data)

# Committing the transaction
cnx.commit()
# Closing the cursor and connection
cursor.close() 

cnx.close()

Enter supplier name:
Booo
Enter supplier contact:
Kara Janis
Enter supplier email:
karaj@booo.com
Enter supplier tel_no:
+3706554433

In [6]:
cnx = mysql.connector.connect(user='root',
password='',
host='localhost',
database='python course')

cursor = cnx.cursor()

id = int(input("Enter the ID of supplier:\n"))
cursor = cnx.cursor()

query = "SELECT * FROM suppliers where Supplier_ID = %s"
data = (id,)
cursor.execute(query,data)


# Fetching the results
for row in cursor.fetchall():
    print(row)
# Closing the cursor and connection
cursor.close()
cnx.close()

NameError: name 'mysql' is not defined

In [15]:
import pandas as pd
import pymysql

from sqlalchemy import text

# cnx = mysql.connector.connect(user='root',
# password='',
# host='localhost',
# database='python course')

engine = create_engine("mysql+pymysql://root:@localhost/python course")
 

with engine.begin() as con:
    query = text("SELECT * FROM suppliers")
    suppliers_df = pd.read_sql(query,con)

In [16]:
suppliers_df

   Supplier_ID Supplier_Name Supplie_Contact   Supplier_email Supplier_tel_no
0            1       NAME_IT      Sera Pinas     name_it@.com     +3706111222
1            2          HANA     Marius Bara        HANA@.com     +3706555432
2            3           MAX      Robe Petra         MAX@.com     +3706779934
3            4           YOO   Julius Naunas          YOO@com     +3706758499
4            5          Moka            Vale    info@moka.com     +3706330011
5            6         Krown       Lana Gala  lanag@krown.com     +3706774423
6            7          Booo      Kara Janis   karaj@booo.com     +3706554433

In [25]:
import pandas as pd
import pymysql

from sqlalchemy import create_engine
from sqlalchemy import text


engine = create_engine("mysql+pymysql://root:@localhost/python course")
 

with engine.begin() as con:
    query = text("SELECT * FROM suppliers")
    suppliers_df = pd.read_sql(query,con)
    suppliers_df.to_csv("Suppliers1.csv",index=False, encoding="utf8", sep=";")
    suppliers_df.to_excel("Suppliers1.xlsx",index=False)

In [29]:
import pandas as pd
import pymysql

from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://root:@localhost/python course")

df = pd.read_excel(r"C:\Users\pauli\Desktop\PhytonCourse\SQL\Suppliers1.xlsx")
# df = pd.read_excel(r"C:\Users\pauli\Desktop\PhytonCourse\SQL\Suppliers1.xlsx",converters={"Name":str,"contact" ID:str},names=(""))
df.to_sql(name="suppliers",con=engine,if_exists="append",index=False)

3